.button {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: min(18px, 4vw);
  height: 62px;
  padding: min(5vw, 21px) min(5vw, 34px);
  transition: border 0.2s;
}

.button--default{
  background-color: var(--accent-color);
}



.button:hover {
  outline: 1px solid rgba(255, 255, 255, 1);
}
