.customization {
  background-color: var(--secondary-bg-color);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 2vw;
  grid-template-areas:
    "slogan slogan"
    "title title"
    "image text"
    "gallery gallery";
  }
  
  @media screen and (min-width: 750px) {
    .customization {
    padding-left: 0;
    padding-top: 0;
    grid-template-areas:
      "image slogan"
      "image title"
      "image gallery"
      "text gallery";
  }
}
  @media screen and (min-width: 1000px) {
    .customization {
    padding-left: 0;
    padding-top: 0;
    grid-template-areas:
      "image slogan"
      "image title"
      "image text"
      "gallery gallery";
  }

  .gallery {
    justify-content: flex-start;
  }
}
  @media screen and (min-width: 1200px) {
    .customization {

    grid-template-areas:
      "image slogan"
      "image title"
      "image text"
      "image gallery";
  }

  .gallery {
    justify-content: flex-start;
  }
}

.customization .slogan {
  margin-top: 4em;
}

.customization__title {
  grid-area: title;
  margin-bottom: 0.5em;
}

.customization__text {
  position: relative;
  grid-area: text;
  min-width: 10.5em;
  padding-left: 1.5em;
}
.customization__gallery {
  grid-area: gallery;
}

.customization__image {
  grid-area: image;
  margin-bottom: 2em;
}

.gallery {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-top: 2em;
  margin-bottom: 3em;
}

@media screen and (min-width: 750px) {
  .gallery {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
  }
}

.gallery__item {
  padding: 0;
}

.gallery__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(59, 61, 70, 1);
}

.gallery__link:hover .gallery__img,
.gallery__link:active .gallery__img,
.gallery__link--current .gallery__img {
  outline: 8px solid rgba(59, 61, 70, 1);
  border-radius: 20px;
}
