.customization__wrapper {
  background-color: var(--secondary-bg-color);
}

.customization {
  padding: 1em;
  max-width: 1500px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 min(2vw, 128px);
  grid-template-areas:
    "slogan slogan"
    "title title"
    "image text"
    "gallery gallery";
}

.customization .slogan {
  margin-top: 4.1em;
  margin-bottom: -2px;
}

.customization__title {
  grid-area: title;
}

.customization__text {
  grid-area: text;
  min-width: 10.5em;
}
.customization__gallery {
  grid-area: gallery;
}

.customization__image {
  grid-area: image;
  align-self: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  gap: 1.2em;
  padding-top: 2em;
  margin-bottom: 3em;
}

.gallery__item {
  padding: 0;
}

.gallery__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--customization-link-outline-color);
}

.gallery__link:hover .gallery__img,
.gallery__link:active .gallery__img,
.gallery__link--current .gallery__img {
  outline: 11px solid var(--customization-link-outline-color);
  border-radius: 20px;
}

.gallery__img {
  aspect-ratio: 180/107;
}

@media screen and (min-width: 750px) {
  .customization {
    padding-left: 0;
    padding-top: 0;
    grid-template-areas:
      "image slogan"
      "image title"
      "image gallery"
      "text gallery";
  }
  .gallery {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
  }

  .customization__text {
    padding-top: 2em;
    justify-self: center;
  }
}

@media screen and (min-width: 1000px) {
  .customization {
    grid-template-areas:
      "image slogan"
      "image title"
      "image text"
      "gallery gallery";
  }

  .gallery {
    justify-content: end;
  }
}

@media screen and (max-width: 1199px) {
  /* .customization__image {
    margin-bottom: 2em;
  } */
}
@media screen and (min-width: 1200px) {
  .customization {
    padding: 0 0.3em;
    grid-template-columns: 1fr 590px;
    gap: 0 128px;
    grid-template-rows: 1fr repeat(4, min-content) 1fr;
    grid-template-areas:
      ". ."
      ". slogan"
      ". title"
      ". text"
      ". gallery"
      ". .";
    align-items: center;
    justify-content: center;

    height: 695px;
  }

  @media screen and (min-width: 1300px) {
    .customization {
      padding: 0 60px;
    }
  }

  .customization__title {
    margin-bottom: 38px;
    z-index: 2;
  }

  .customization__image {
    position: absolute;
    left: 3.8%;
    top: 0;
  }

  .customization__text {
    margin-bottom: 3.2em;
    font-size: 20px;
    justify-self: end;
    max-width: 46vw;
  }

  .gallery {
    margin: 0;
    margin-left: 11px;
    margin-bottom: 11px;
    padding: 0;
  }

  .customization .slogan {
    margin: 0;
    margin-bottom: 12px;
  }
}
