.footer-menu {
  width: min(40vw, 168px);
}
.footer-menu__title {
  font-size: min(5vw, 18px);
  line-height: 1.67;
  margin-bottom: 1.5em;
  cursor: default;
  font-weight: 400;
text-transform: capitalize;
}

.footer-menu__item {
  width: 100%;
  font-size: 15px;
  color: var(--secondary-text);
  padding: 0.6em 0;
}
