.slogan {
  text-transform: uppercase;
  grid-area: slogan;
  display: flex;
  gap: 8px;
  line-height: 1;
  align-items: center;
  color: var(--accent-color);
  font-family: Orbitron;
  font-size: 16px;
  margin-bottom: 0;
}

.slogan svg {
  position: relative;
  top: 2px;
}


