.news__wrapper {
  max-width: min(96vw, 1320px);
  margin: 0 auto;
}
.news {
  display: flex;
  flex-direction: column;
  padding: 5em 0;
}

.news .slogan {
  margin-bottom: 1em;
}

.news *:first-child {
  align-self: start;
}

.news__title {
  grid-area: title;
  margin-bottom: max(15vw, 2em);
}

.news__list {
  grid-area: news;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  gap: 1em;
  flex-grow: 1;
  grid-column: 1/-1;
}

.news .button {
  margin-left: auto;
  margin-top: auto;
}

@media screen and (min-width: 750px) {
  .news {
    padding-top: clamp(3em, 10vh, 8em);
  }
  .news__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  .news__item--headline .article__link {
    max-width: 648px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1000px) {
  .news {
    padding-top: 7em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "slogan slogan"
      "title button"
      "news news";
  }

  .news__title {
    margin-bottom: 0;
  }
  .news__list {
    padding-top: 64px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    order: 5;
    gap: 0.5em 1.3em;
  }
  .news__item--headline {
    grid-row: 1/-1;
  }

  .news__item--headline .article__img {
    max-width: 648px;
    aspect-ratio: initial;
    margin-bottom: 3.2em;
  }
  .news__item--headline .article__date {
    font-size: 18px;
    margin-bottom: 1.5em;
  }
  .news__item--headline .article__title {
    max-width: initial;
    font-size: min(4vw, 36px);
    line-height: 1.28;
  }
}

.article__link {
  display: flex;
  flex-direction: column;
  max-width: 312px;
  padding-top: 1em;
}
.article__img {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 312/189;
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0;
  margin-bottom: 1.4em;
}

.article__date {
  font-size: min(3.7vw, 16px);
  color: var(--accent-color);
  margin-bottom: 1.2em;
}
.article__title {
  text-transform: capitalize;
  font-size: min(5vw, 24px);
  line-height: 1.4;
  max-width: min(100%, 300px);
}
