.title {
  text-align: left;
  font-size: clamp(2em, 5vw, 64px);
  line-height: 115%;
  max-width: 656px;
  text-transform: capitalize;
}

.description {
  max-width: 50vw;
  color: var(--secondary-text);
  font-size: min(3.7vw, 18px);
  line-height: 1.5;
  margin-bottom: 1em;
}
