.title {
  text-align: left;
  font-size: clamp(2em, 5.5vw, 72px);
  line-height: 1.2;
  max-width: 656px;
}

.description {
  max-width: 50vw;
  color: var(--secondary-text);
  font-size: min(3.7vw, 18px);
  line-height: 1.5;
  margin-bottom: 2em;
}

.page-main > * {
  padding: 1.5em;
}
