.page-nav {
  margin: auto;
  order: -1;
  margin: 0;
  margin-right: 0.5em;
}

.burger-button {
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
}

@media screen and (min-width: 1000px){
  .page-nav {
    margin: auto;
  }
  .burger-button {
    display: none;
  }

}

@media screen and (max-width: 999px){
  .page-nav__list {
    display: none;
    position: absolute;
    background-color: black;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 1);
    z-index: 3;
    width: 25vw;
  }
}


.page-nav__list {
  display: flex;
  padding: 1em;
}

.page-nav__list--open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-burger-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

