.page-header {
  padding: 0.5em;
  padding-bottom: min(5vh, 5em);
  display: flex;
  align-items: center;
  background: var(--header-bg);
}

.page-header .logo {
  order: -1;
  grid-column: 1/-1;
  display: flex;
  max-width: 35vw;
}

.page-header__cart {
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 5px;
  background: none;
  border: none;
  padding-bottom: 8px;
}

@media screen and (min-width: 750px) {
  .page-header__cart {
    margin-right: 2.5em;
  }
}

.page-header__cart::before {
  content: "";
  display: block;
  position: relative;
  left: 25px;
  width: 21px;
  height: 18px;
  border-radius: 50%;
  background: white;
}

.page-header__contact-btn {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: min(18px, 4vw);
  height: 62px;
  padding: 0 min(2vw, 20px);
  justify-self: end;
}

