.page-header {
  background: var(--header-bg);
}

.page-header__wrapper {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: min(5vh, 5em);
  display: flex;
  align-items: center;
  max-width: min(95vw, 1320px);
}

.page-header .logo {
  grid-column: 1/-1;
  display: flex;
  max-width: 35vw;
}

.page-header__cart {
  position: relative;
  margin-right: 20px;
  margin-left: auto;
  background: none;
  border: none;
}

@media screen and (min-width: 750px) {
  .page-header__cart {
    margin-right: 40px;
  }
}

.page-header__cart::before {
  content: "";
  display: block;
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 21px;
  height: 18px;
  border-radius: 50%;
  background: white;
}

.page-header__contact-btn {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: min(3.5vw, 18px);
  height: 62px;
  padding: 0 min(2.5vw, 31px);
  justify-self: end;
}
