html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  font-weight: 400;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: rgba(250, 196, 34, 1);
}

img {
  max-width: 100%;
}

body {
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  line-height: 5/3;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-bg-color: #000;
  --header-bg: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.88) 0%,
    rgba(0, 0, 0, 0.88) 53%,
    var(--accent-color) 53%,
    var(--accent-color) 100%
  );

  --main-text-color: #fff;

  --accent-color: rgba(87, 184, 255, 1);
  --accent-text-color: rgba(250, 196, 34, 1);

  --secondary-text: rgba(153, 153, 153, 1);
  --secondary-bg-color: rgba(42, 49, 60, 1);
}

@media screen and (min-width: 750px) {
  :root {
    --header-bg: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.88) 0%,
      rgba(0, 0, 0, 0.88) 70%,
      var(--accent-color) 70%,
      var(--accent-color) 100%
    );
  }
}
@media screen and (min-width: 1000px) {
  :root {
    --header-bg: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.88) 0%,
      rgba(0, 0, 0, 0.88) 56%,
      var(--accent-color) 56%,
      var(--accent-color) 100%
    );
  }
}
