.banner {
  display: flex;
  flex-direction: column;
  background-image: var(--header-bg);
  padding: 0.5em;
}

@media screen and (min-width: 750px) {
  .banner {
    display: grid;
    max-width: 100vw;
    overflow: hidden;
    grid-template-columns: 30% 40% 30%;

    grid-template-areas:
      "slogan slogan ."
      "title title ."
      "text image image"
      "buttons buttons .";
  }
}

.banner__title {
  grid-area: title;
  margin-bottom: 1em;
}

.banner__title-accent {
  position: relative;
}

.banner__title-accent::after {
  display: block;
  top: 90%;
  left: 5%;
  position: absolute;
  content: "";
  background-image: url("/src/assets/text-decoration-banner.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  height: 2vh;
  z-index: 2;
}

.banner__description {
  grid-area: text;
  align-self: center;
}
.banner__lifestream-image {
  grid-area: image;
  transition: transform 0.2s;
  max-width: 90vw;
  margin-left: auto;
  transform: scale(1.1);
}

@media screen and (min-width: 750px) and (hover: none) {
  .banner__lifestream-image {
    transform: scale(1.15);
  }
}

.banner__lifestream-image:hover {
  transform: scale(1.02);
}

.banner__buttons {
  grid-area: buttons;
  display: flex;
  margin-bottom: clamp(2em, 10vh, 4em);
  gap: 2em;
}

@media screen and (max-width: 750px) {
  .banner__buttons {
    justify-content: space-between;
  }
}

@media screen and (min-width: 750px) {
  .banner__buttons {
    margin-top: 2em;
  }
}
