.menu-item__link {
  font-size: 1em;
  line-height: 26px;
  letter-spacing: 0em;
}

.menu-item {
  padding: 0.7em;
}

.menu-item:first-child {
  color: var(--accent-text-color);
}

@media screen and (min-width: 35rem) {
  .menu-item {
    font-size: 16px;
  }
}
